<ul class="bxslider">
	{{#appList.received_data}}
	<li style="font-size: x-small" title="{{name}}">
		<img src="{{../resourcePath}}features/APPLIST.png" style="width: 40px">
		{{elipsis 10 name}}
	</li>
	{{/appList.received_data}}
</ul>
