<footer>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<img class="footer-logo" src="{{resourcePath}}footer.png">
			{{appInfo.copyright}}
		</div>
	</div>

</footer>