<div class="container-fluid">

	<div class="raw-fluid">

		<div class="span6 widget" id="home_devices_by_os" data-chart="devices_by_os" data-method="getChartAllDevicesByOS" data-title="Devices By OS">
			
		</div>
		
		<div class="span6 widget" id="home_devices_by_os2" data-chart="devices_by_os" data-method="getChartAllDevicesByOS" data-title="Devices By Android">
			
		</div>
		
		

	</div>


</div>